<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="Clanbutton.Clanbutton" android:versionCode="1" android:versionName="1.0" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="23" android:targetSdkVersion="24" />
	<application android:label="Clanbutton"></application>
</manifest>